
-# To edit the mailto email target, edit the content below in-between the ('')...
- email_recipient = URI.encode_www_form_component('commit@gitlab.com').gsub('+', '%20')

- email_link = 'mailto:'+email_recipient

.container.text-center
  .row.u-margin-top-lg.u-margin-bottom-lg
    .col-md-12
      %h1 Contact us
      %h4.u-margin-top-sm{style: "font-weight: 300;"} Have any questions about commit? Email 
      %h3 
        = succeed ' ' do
          %a{href: email_link, style: "text-decoration: underline; font-weight: 600;"} #{email_recipient}
      %h4{style: "font-weight: 300;"}
        for more information.
